html {
	height: 100%; min-width: 700px;
}
body {
	margin: 0px; padding: 0px; height: 100%; min-height: 100%; background-color: white;
}
body {
	color: rgb(46, 44, 44); line-height: 1.65em; font-family: Georgia,"Times New Roman",Times,serif; font-size: 12pt;
}
tbody {
	color: rgb(46, 44, 44); line-height: 1.65em; font-family: Georgia,"Times New Roman",Times,serif; font-size: 12pt;
}
#body {
	margin: 0px auto; padding: 0px; width: 760px; min-height: 100%;
}
#page {
	padding: 1px 0px;
}
#header {
	top: 32px; height: 65px; border-bottom-color: rgb(222, 222, 222); border-bottom-width: 1px; border-bottom-style: solid; position: relative; background-color: white;
}
#header h1 {
	margin: 0px; padding: 0px; border: currentColor; color: rgb(191, 191, 191); font-family: Arial,Helvetica,sans-serif; font-size: 13pt; font-weight: normal; display: inline; z-index: 10;
}
#header h2 {
	left: 130px; top: 22px; color: white; font-size: 10pt; position: absolute; z-index: 10;
}
#header a {
	color: rgb(191, 191, 191); text-decoration: none;
}
#header a:hover {
	color: rgb(191, 191, 191); text-decoration: underline;
}
#hlogo {
	position: absolute;
}
#hlogo img {
	border: currentColor; width: 106px; height: 35px;
}
#hsublogo {
	left: 140px; top: 4px; padding-left: 20px; border-left-color: rgb(222, 222, 222); border-left-width: 1px; border-left-style: solid; position: absolute;
}
#hsearch {
	width: 230px; height: 48px; color: gray; font-family: Arial,Helvetica,sans-serif; font-size: 10px; float: right; position: relative;
}
#hsearch form {
	margin: 2px 0px 0px 65px; padding: 0px; line-height: normal;
}
#hsearch input {
	border: 1px solid rgb(187, 189, 205); width: 90px; color: black; font-family: Arial,Helvetica,sans-serif; font-size: 11px; background-color: rgb(252, 252, 250);
}
#hsearch span a {
	margin: 0px; padding: 0px; color: rgb(94, 110, 164);
}
#hbar {
	background-position: left; margin: 0px; padding: 0px; width: 100%; height: 7px; line-height: 10%; background-image: url("http://www.faqs.org/style/i/faqs-header.png"); background-repeat: no-repeat; background-color: rgb(19, 81, 118);
}
#navigation {
	padding: 2px; top: 32px; color: rgb(138, 138, 138); line-height: normal; font-family: Arial,Helvetica,sans-serif; font-size: 8pt; margin-top: 8px; position: relative;
}
#navigation a {
	color: rgb(95, 95, 95); text-decoration: none;
}
#navigation a:hover {
	color: rgb(81, 87, 141); text-decoration: underline;
}
#content {
	padding: 30px 10px; margin-top: 32px; background-color: white;
}
#footer {
	padding: 3px; text-align: center; color: white; clear: both; font-family: Arial,Helvetica,sans-serif; font-size: 11px; border-top-color: rgb(189, 205, 215); border-top-width: 3px; border-top-style: solid; background-color: rgb(19, 81, 118);
}
#footer a {
	color: lightgoldenrodyellow; text-decoration: none;
}
#footer a:hover {
	color: white; text-decoration: underline;
}
h1 {
	background-position: 0px 100%; padding: 4px 0px; color: black; font-size: 18pt; font-weight: normal; background-image: url("http://www.faqs.org/style/i/faqs-h1.png"); background-repeat: no-repeat;
}
h2 {
	color: black; font-size: 14pt; font-weight: normal;
}
h3 {
	color: gray; font-size: 12pt; margin-bottom: 0px;
}
a {
	color: rgb(54, 73, 137);
}
a:hover {
	color: rgb(121, 139, 200);
}
#advboxl {
	margin: 20px 20px 20px 0px; padding: 0px 12px 0px 0px; border-right-color: gray; border-right-width: 1px; border-right-style: dotted; float: left; background-color: white;
}
.ads_float_left {
	margin: 20px 20px 20px 0px; padding: 0px 12px 0px 0px; border-right-color: gray; border-right-width: 1px; border-right-style: dotted; float: left; background-color: white;
}
.adwords_in_content {
	margin: 24px 0px;
}
.adwords_in_content hr {
	border-width: medium medium 1px; border-style: none none dotted; border-color: currentColor currentColor gray; margin: 16px 0px; height: 0px;
}
b {
	color: black;
}
#disclaimer {
	padding: 10px; border: 1px solid rgb(240, 218, 170); line-height: 140%; font-family: Arial,Helvetica,sans-serif; font-size: 11px; margin-top: 25px; background-color: rgb(254, 255, 226);
}
hr {
	border-width: medium medium 1px; border-style: none none solid; border-color: currentColor currentColor silver; color: silver;
}
#interlink_nav {
	margin: 10px; padding: 5px; border: 1px solid rgb(216, 212, 212); height: 26px; position: relative; background-color: rgb(243, 243, 243);
}
#interlink_nav p {
	margin: 0px; padding: 0px; clear: none; display: inline;
}
#interlink_nav .next {
	right: 5px; position: absolute;
}
#hnavbar {
	list-style: none; margin: 36px 0px 0px -8px; padding: 0px; width: 130px; font-size: 10pt; position: absolute;
}
#hwelcome {
	top: -55px; text-align: center; line-height: 190%; position: relative;
}
#hwelcome h1 {
	margin: 0px;
}
#hwelcome p {
	margin: 0px; color: gray;
}
#fmaincolumn {
	padding-left: 150px; clear: none;
}
#fmtable {
	
}
.fmtable {
	margin: 0px; padding: 0px 35px; width: 50%; line-height: 150%; font-size: 11pt; border-left-color: rgb(196, 195, 215); border-left-width: 1px; border-left-style: dotted;
}
hr {
	border-width: 1px medium medium; border-style: solid none none; border-color: rgb(196, 195, 215) currentColor currentColor; margin: 40px 70px; height: 1px;
}
.hr1 {
	margin: 0px; border-top-color: rgb(245, 225, 226); border-top-width: 8px; border-top-style: solid;
}
.hr2 {
	margin: 0px; border-top-color: rgb(236, 245, 225); border-top-width: 8px; border-top-style: solid;
}
.hr3 {
	margin: 0px; border-top-color: rgb(225, 230, 245); border-top-width: 8px; border-top-style: solid;
}
.hr4 {
	margin: 0px; border-top-color: rgb(229, 229, 229); border-top-width: 8px; border-top-style: solid;
}
.hr5 {
	margin: 0px; border-top-color: rgb(245, 225, 241); border-top-width: 8px; border-top-style: solid;
}
#header {
	border-bottom-color: rgb(235, 235, 235); border-bottom-width: 1px; border-bottom-style: solid;
}
pre {
	text-align: left;
}
